<div class="breadcrumb">
	<p>		
		#foreach ($ancestor in $ancestors)
		   #set($index = $ancestors.size() - $velocityCount)
		  <span><a title="$ancestors.get($index).getName($locale)" href="$ancestors.get($index).getFriendlyURL()"> $ancestors.get($index).getName($locale)</a> <span class="imgreplacement">›</span></span>
		#end
		$layout.getName($locale)
	</p>
</div>