#set ($css_class = "${css_class} container equalize dockbar-split container-fluid")
#set ($is_home = $layout.getExpandoBridge().getAttribute("is-home-page", false))
#set ($bodyId = "content")
#if ($is_home) 
	#set ($bodyId = "home")
#end
