<ul class="nav_main">
    #foreach ($nav_item in $nav_items)
        #if ($nav_item.isSelected())
        <li class="sel">
        #else
        <li>
        #end
      <a href="$nav_item.getURL()" title="$nav_item.getName()">$nav_item.getName()</a>
    </li>
    #end
</ul>