<div id="subnavigatie" class="nav_sub">
	<h3>Subnavigatie</h3>
	<ul>
		#renderSubNav($rootAncestorLayout $layout)
	</ul>
</div>

#macro(renderSubNav $rootLayout $currentLayout)
	ddd<li>$rootLayout.getName($locale)</li>
	<li>$currentLayout.getName($locale)</li>
#end


